{{ form_start(form) }}

{{ form_row(form.price) }}
{{ form_row(form.description) }}
{{ form_row(form.bedroom) }}
{{ form_row(form.bathroom) }}
{{ form_row(form.squareMeters) }}
{{ form_row(form.buildYear) }}
{{ form_row(form.city) }}
{{ form_row(form.street) }}
{{ form_row(form.propertyType) }}
{{ form_row(form.upload) }}

{% if form.images.vars.data.owner.images|default(null) %}

	<div class="row my-2">
		Images
	</div>
	<div class="row edit_properties_images m-2">
		<div class="col-sm align-items-center justify-content-center p-0">
			{% for image in form.images.vars.data.owner.images %}
				<div class="text-center">
					<img src="{{ asset('uploads/' ~ image.filename) }}">
				</div>
			{% endfor %}
		</div>
		<div class="col-sm p-0">
			{{ form_row(form.images) }}
		</div>
	</div>
{% endif %}

{{ form_end(form) }}
<button class="btn btn-outline-dark my-2">{{ button_label|default('Save') }}</button>