{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

	<div class="row p-4">
		<div class="col">
			<h3>
				<p class="text-center">{{ property.street|capitalize }},&nbsp;{{ property.city }}
					<br>
					&euro;
					{{ property.price }}
					-
					{{ property.bedroom }}
					Bedrooms -
					{{ property.bathroom }}
					Baths -
					{{ property.squareMeters }}
					<strong>
						㎡
					</strong>
				</p>
			</h3>
		</div>
	</div>

	<div class="row p-4">
		<div class="col-sm-12 col-md-6 col-lg-6">
			{% for image in property.images %}
				<img src="{{ asset('uploads/' ~ image.filename) }}" width="100%">
			{% endfor %}
		</div>
		<div class="col">
			<p>
				{{ property.description }}
			</p>

			<h5>
				Contact information
			</h5>
			<a href="mailto:{{ property.user.email }}">Email:&nbsp;{{ property.user.email }}</a>
			<br>
			<a href="tel:{{ property.user.phone }}">Tel:&nbsp;{{ property.user.phone }}</a>
			<br>
			{# {{ property.user.tel }} #}
			<div style="width: 100%">
				<iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q={{ property.street|replace({' ':'%20'}) }}+(Your%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
					<a href="https://www.gps.ie/">gps devices</a>
				</iframe>
			</div>
		</div>
	</div>
</div>{% endblock %}
